{% extends 'main.html'%}
{% load static %}



{% block content %}

<!-- Donor Highlights-->


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="display-4 mt-4"> What bMS does ?</h1>
            </div>
            <article class="card-body">
                <p class="lead">Makes it easy for you to find the blood donors now.</p>


                <p class="lead">Sign up, Log in and Search now</p>

            </article>
        </div>
    </div>
</div>


<div class='container'>
    <div class="text-box">
        <p>WELCOME TO</p>
        <h1>BLOOD</h1>
        <p>MANAGEMENT SYSTEM</p>
    </div>
</div>
{% endblock content %}